name: perl

on:
  workflow_dispatch:

jobs:
  setup-perl:
    runs-on: "windows-latest"
    steps:
      - uses: shogo82148/actions-setup-perl@v1
        with:
          distribution: strawberry
          version: "5.34"
